* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	min-height: 550px;
	box-sizing: border-box;
}

body {
	position: relative;
	background: url(../images/bg_desktop.jpg) center top #080809;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 40px;
	color: #F4F4F4;
}

h1 {
	display: none;
}

header {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100vw;
}

content	{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -120px;
	width: 100vw;
}

content p {
	font-size: 14px;
	text-align: center;
}

content h2 {
	font-size: 18px;
	font-weight: 300;
	text-align: center;}

content h2 a {
	color: #50E3C2;
	text-decoration: none;
}

content img {
	display: block;
	margin: auto;
	margin-bottom: 20px;
}


nav {
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100vw;
}

nav a {
	color: #80665C;
	font-size: 1.5em;
	text-decoration: none;
	padding: 10px;
}

nav a span {
	display: none;
}

nav a:hover {
	color: #50E3C2;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 10px;
	padding: 0
}