html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;
}

body {
	background: url(../images/bg-profile.jpg) center top #150621;
	background-size: 100vw;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h1 {
	display: none;
}

img {
	margin: 24px;
}

.loader {display: none;}

nav {
	display: block;
	position: absolute;
	bottom: 24px;
	left: 24px;
	border-left: 1px solid #C6C6C6;
	padding: 0 24px;
	box-sizing: border-box;
}

nav hr {
	border: none;
	border-bottom: 1px solid #C6C6C6;
	margin: 24px 0;
	display: block;
	width: 50%;

}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li a {
	font-size: 24px;
	color: white;
	text-decoration: none;
	display: block;
	padding: 6px 0;
}

nav p {
	font-size: 14px;
	color: white;
}

nav p a {
	font-weight: 500;
	font-size: 18px;
	color: #FF223E;
	text-decoration: none;
}