@import "compass";

@import "settings";
// @import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

body {
	background-color: white;
}

.flex-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-content: space-between;

	align-items: center;

	height: 100vh;
}

#header {
	-webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 1 ;

	height: 80px;
	line-height: 80px;
}

#content {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;

	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;

	color: lighten(#FECB3F, 10%);
	font-weight: 300;
	
	h1 {
		font-family: 'Playfair Display', serif;
		@include adjust-font-size-to(64px);
		line-height: 1.5em;
		color: white;
		font-weight: 900;
		margin: 0;
		padding: 0;
		color: #333;
	}
	p {
		@include adjust-font-size-to(18px);
		line-height: 2em;
		margin: auto;
		margin-bottom: 20px;
		font-weight: 100;
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #666;
	}
	strong {
		font-weight: 400;
		color: #f30;
		word-wrap: nowrap;
	}
}

#footer {
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    
    line-height: 80px;
	width: 100%;
	height: 80px;
	
	a {
		color: #333;
		margin: 0 10px;
		padding: 5px;
		@include adjust-font-size-to(18px);
		&:hover {
			color: #0076FF;
		}
	}
}

@media (max-width:768px){
	body, #video_background {
		background-color: white;
		// color: white;
		//background-image: url('../images/bg-photo-mobile.jpg');
	}

	.logo {
		left: 50%;
		margin-left: -15px;
	}

	.overlay {display: none;}

	.message {
		h1 {
			@include adjust-font-size-to(40px);
			line-height: 1em;
			margin-bottom: 30px;
		}
		p {
			@include adjust-font-size-to(20px);
		}
		a {
			@include adjust-font-size-to(20px);
		}
	}

	#video_background {
		display: none;
	}
}
