@import "compass";

@import "settings";
// @import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

body {
	// background-image: url('../images/bg-photo.jpg');
	// background-position: center center;
	// background-size: cover;
	background-color: white;
}

.logo {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -15px;
	z-index: 100;
}

.message {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -120px;
	z-index: 100;
	color: lighten(#FECB3F, 10%);
	font-weight: 300;
	
	h1 {
		font-family: 'Playfair Display', serif;
		@include adjust-font-size-to(64px);
		line-height: 1.5em;
		color: white;
		font-weight: 900;
		margin: 0;
		padding: 0;
		color: #333;
	}
	p {
		@include adjust-font-size-to(18px);
		line-height: 2em;
		margin: auto;
		margin-bottom: 20px;
		font-weight: 100;
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #666;
	}
	strong {
		font-weight: 400;
		color: #f30;
		word-wrap: nowrap;
	}
}

.folio {
	position: absolute;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	bottom: 20px;
	a {
		color: #333;
		margin: 0 10px;
		padding: 5px;
		@include adjust-font-size-to(18px);
		&:hover {
			color: #0076FF;
		}
	}
}

@media (max-width:768px){
	body, #video_background {
		background-color: white;
		// color: white;
		//background-image: url('../images/bg-photo-mobile.jpg');
	}

	.logo {
		left: 50%;
		margin-left: -15px;
	}

	.overlay {display: none;}

	.message {
		h1 {
			@include adjust-font-size-to(40px);
			line-height: 1em;
			margin-bottom: 30px;
		}
		p {
			@include adjust-font-size-to(20px);
		}
		a {
			@include adjust-font-size-to(20px);
		}
	}

	#video_background {
		display: none;
	}
}
