@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    background: #1E1E1E;
    font-size: 20px;
}

a {
    color: #28FFB2;
    text-decoration: none;
    padding: 20px 0;
}

nav.menu {
    position: absolute;
    top: 0;
    left: 80px;
    z-index: 1;
}

nav.menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.menu > ul li {
    display: inline-block;
}

nav.menu > ul li a.selected {
    border-top: 4px solid #28FFB2;
}

nav.menu > ul li a {
    color: white;
    text-decoration: none;
    padding: 100px 20px 20px 20px;
    display: block;
}

nav.menu > ul li a:hover {
    color: #28FFB2;
}

.about {
    position: absolute;
    top: 300px;
    left: 100px;
    display: flex;
    width: 48rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: rgb(190, 190, 190);
}

.about span {
    color: #fff;
    font-weight: 500;
}

.about > p {
    display: block;
    margin: 0;
    width: 100%;
    line-height: 200%;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide > div {
    position: absolute;
    bottom: 150px;
    left: 60px;
    width: 27rem;
    padding: 3rem;
    background: rgba(15, 15, 15, 0.20);
    backdrop-filter: blur(20px);
    border-radius: 2rem;
}

.slide > div h2 {
    color: white;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
}

.slide > div p {
    color: white;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin: 0;
    display: block;
}

.slide > div span {
    color: white;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
    opacity: 0.5;
    display: block;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;
}

nav.carousel-nav {
    bottom: 50px;
    left: 100px;
    position: absolute;
    z-index: 2;
}

.carousel-button {
    background: none;
    border: none;
    padding: 20px;
    border-radius: 5rem;
    border: 2px solid rgba(255, 255, 255, 0.10);
    cursor: pointer;
    margin-right: 10px;
}

.carousel-button:hover {
    background: rgba(0, 0, 0, 0.30);
}

.carousel-button:active {
    background: rgba(40, 255, 216, 0.10);
}