/* line 1, ../sass/style.sass */
body {
  margin: 0;
  padding: 0;
  background-image: url(../gfx/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  font-family: "Roboto";
}

/* line 14, ../sass/style.sass */
.container {
  text-align: center;
}

/* line 17, ../sass/style.sass */
#logo {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -110px;
  margin-top: -22px;
}

/* line 24, ../sass/style.sass */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
/* line 30, ../sass/style.sass */
#footer #contact {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e51c23;
  border-top: 2px solid #ac151a;
  overflow: hidden;
  padding: 10px 0;
}
/* line 39, ../sass/style.sass */
#footer #contact ul, #footer #contact li {
  margin: 0;
}
/* line 41, ../sass/style.sass */
#footer #contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
/* line 46, ../sass/style.sass */
#footer #contact ul a {
  color: white;
  display: block;
  border-bottom: 1px solid #ac151a;
  padding: 15px 0;
  padding-right: 10px;
  text-decoration: none;
}
/* line 53, ../sass/style.sass */
#footer #contact ul a.noborder {
  border: none;
}
/* line 55, ../sass/style.sass */
#footer #contact ul li a i {
  margin-right: 10px;
  font-size: 20px;
  float: right;
  color: #ac151a;
}
/* line 61, ../sass/style.sass */
#footer #publicom {
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px 0;
  background-color: white;
  text-align: center;
  color: #9b9b9b;
  margin: 0;
}
/* line 69, ../sass/style.sass */
#footer #publicom p {
  margin: 0;
  padding-bottom: 10px;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  /* line 75, ../sass/style.sass */
  body {
    background-image: url(../gfx/background-photo-mobile-devices.jpg);
  }

  /* line 78, ../sass/style.sass */
  #logo {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -110px;
    margin-top: -22px;
  }

  /* line 85, ../sass/style.sass */
  #contact {
    background-color: #e51c23;
    border-top: 2px solid #ac151a;
    overflow: hidden;
    padding: 10px 0;
    margin: 0;
  }
  /* line 92, ../sass/style.sass */
  #contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
  /* line 97, ../sass/style.sass */
  #contact ul a {
    color: white;
    display: block;
    border-bottom: 1px solid #ac151a;
    padding: 15px 0;
    text-decoration: none;
  }
  /* line 103, ../sass/style.sass */
  #contact ul a.noborder {
    border: none;
  }
}
